.expanded-info {
    &-content {
        display: flex;
        justify-content: space-between;

        .link-btn {
            padding: 0.1rem 0.3rem;
            margin-left: 10px;
        }

        .role-input {
            .form-check {
                input {
                    margin-top: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}