#common-nav {
    // padding-top: 1rem;
    // padding-bottom: 1rem;
    background-color: #333;

    .container {
        display: flex;
        justify-content: space-between;

        .operations {
            margin-top: auto;
            margin-bottom: auto;

            ul {
                list-style-type: none;
                display: flex;
                margin: 0;
                padding: 0;
                align-items: center;

                li {
                    margin-left: 2rem;
                    background-color: white;
                    border-radius: 7px;

                }

                #notification-bell {
                    background-color: transparent;
                    color: white;
                    font-size: 25px;
                    cursor: pointer;
                    position: relative;
                    padding-top: 1rem;
                    padding-bottom: 1rem;

                    &:hover .notifications {
                        opacity: 100%;
                        z-index: 30;
                    }

                    .notification-icon {
                        position: relative;

                        .badge {
                            position: absolute;
                            top: 0;
                            right: -10px;
                            z-index: 10;
                            background-color: red;
                            padding: 0.1rem 0.3rem 0.2rem 0.3rem;
                            margin: 0;
                            font-size: 15px;
                        }

                    }

                    .notifications {
                        transition: 0.5s opacity;
                        opacity: 0%;
                        cursor: default;
                        position: absolute;
                        color: black;
                        width: 280px;
                        background-color: whitesmoke;
                        border: 2px solid black;
                        border-radius: 10px;
                        top: 100%;
                        right: -300%;
                        font-size: 15px;
                        z-index: -30;
                        max-height: 300px;
                        overflow-y: auto;

                        &::-webkit-scrollbar {
                            width: 10px;
                            border-radius: 10px;
                        }

                        &::-webkit-scrollbar-track {
                            background: #f1f1f1;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: #888;
                            border-radius: 10px;
                        }

                        &::-webkit-scrollbar-thumb:hover {
                            background: #555;
                        }

                        .notification-elem {
                            padding-top: 0.3rem;
                            padding-left: 0.5rem;
                            padding-right: 0.5rem;
                            padding-bottom: 0.3rem;
                            border-bottom: 2px solid black;

                            &:last-child {
                                border-bottom: none;
                            }

                            p {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }

    }

}