.device-element {
    .card {
        position: relative;
        margin-top: 1rem;

        .card-content {
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            display: flex;
            justify-content: space-between;

            .info-field {
                z-index: 5;
                margin-top: auto;
                margin-bottom: auto;

                div {
                    // width: 900px;
                    max-height: 120px;
                    overflow-y: auto;
                }
            }

            .operation-field {
                display: flex;
                z-index: 10;

                .icon {
                    margin-top: auto;
                    margin-bottom: auto;
                    padding: 0.2rem 0.7rem;
                    border-radius: 10px;
                    margin-left: 5px;
                }
            }
        }

    }
}