body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.d-inline-block {
  display: inline-block;
}

.space-for-all-subdivs>div {
  margin-top: 10px
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
}